name: build
on: push

jobs:
  test_library:
    strategy:
      fail-fast: false
      matrix:
        version: [8.0, 8.1, 8.2]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.version }}
      - run: composer install --no-interaction
      - name: Test Library
        run: ./vendor/phpunit/phpunit/phpunit
